@model SocialMediaApp.Models.Post


@* Afisarea unei postari, dar cred ca nu e gata pt ca nu afiseaza totul despre o postare*@

<!--verific daca am vreun mesaj de afisat pt utilizator-->
@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="w-700px-responsive profile-post position-relative d-flex flex-row mt-3 mb-5 cursor-default me-auto ms-auto">
    <div class="post-pfp-container">
        <img src="~/images/Profiles/@Model.User.ProfilePicture" />
    </div>
    <div class="profile-post-info d-flex flex-column text-wrap text-break">
        <div class="profile-post-username">
            <b>@Model.User.FirstName @Model.User.LastName</b>
        </div>
        <div class="profile-post-content d-flex flex-column">@Model.TextContent</div>
        <div class="post-data d-flex flex-wrap mt-3">
            <div class="post-options d-flex">
                <div class="profile-post-likes d-flex justify-content-between me-3 cursor-pointer">
                    <a><i class="bi bi-heart"></i> @Model.WhoLiked.Count()</a>
                </div>
                <div class="profile-post-comments d-flex justify-content-between">
                    <a><i class="bi bi-chat-dots"></i> @Model.Comments.Count()</a>
                </div>
            </div>
            <div class="post-date d-flex">
                @Model.Date
            </div>
        </div>
    </div>
</div>


@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="d-flex flex-column align-items-center">

    <div class="w-700px-responsive">

        <form method="post" asp-controller="Posts" asp-action="Show">

            <div class="d-flex flex-column">

                <input type="hidden" name="PostId" value="@Model.Id" />

                <label class="text-muted mb-1">Add a comment</label>

                <textarea class="form-control mb-3" name="Content"></textarea>

                <button class="btn btn-primary ms-auto" type="submit">Comment</button>

            </div>

        </form>

    </div>

</div>

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>

                    @if(comm.User != null)
                    {
                        <strong><i class="bi bi-person"> @comm.User.UserName</i></strong>
                    }

                </div>
                <br>
                <!--doar userul care a scris poate sa editeze sau sa stearga comentariul-->

                @if (comm.UserId == ViewBag.UserCurent)
                {
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                <i class="bi bi-pencil-square"></i> Editeaza
                            </a>

                        </div>
                        <div>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>
                        </div>
                    </div>
                }

                <!--admin poate sa stearga orice comentariu-->
                @if (ViewBag.EsteAdmin == true)
                {
                    <div class="d-flex">
                        <div>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                            </form>
                        </div>
                    </div>
                }

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


