@model SocialMediaApp.ViewModels.EditProfileViewModel
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<form asp-controller="Users" 
asp-action="Edit" 
method="post"
class="d-flex flex-column align-items-center"
enctype="multipart/form-data">
    <input type="hidden" asp-for="ExistingProfilePicture" />
    <div class="d-flex flex-row edit-profile-info text-break mb-3">
        @*poza profil*@
        <label class="pfp-input" for="inputPfp" asp-for="ProfilePicture">
            <img id="previewPfp" src="@Model.ExistingProfilePicture" />

            <div class="pfp-overlay">
                <i class="bi bi-pencil-square"></i>
            </div>
        </label>
        <input id ="inputPfp"
               asp-for="ProfilePicture"
               type="file"
               name="profilePicture"
               accept="image/*"
               hidden
        />
        @*informatii profil*@
        <div class="profile-info d-flex flex-column justify-content-between">
            <div id="previewName" class="edit-name fs-4">
                <b>@Model.FirstName @Model.LastName</b>
            </div>
            <div class="profile-stats d-flex justify-content-between">
                <div>Posts: @ViewBag.User.Posts.Count</div>
                <div>Followers: @ViewBag.User.Followers.Count</div>
                <div>Following: @ViewBag.User.Follows.Count</div>
            </div>
            <div id="previewDescription" class="profile-description">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="change-info-form">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" asp-for="FirstName" 
            id="firstNameInput"/>
            <label asp-for="FirstName">
                First name
            </label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" asp-for="LastName" 
            id="lastNameInput"/>
            <label asp-for="LastName">
                Last name
            </label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Description">Description</label>
            <textarea id="descriptionInput" class="form-control" asp-for="Description">
            </textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="ProfileVisibility">Visibility</label>
            <select class="form-control" asp-for="ProfileVisibility">
                <option value="public">public</option>
                <option value="privat">privat</option>
            </select>
            <span asp-validation-for="ProfileVisibility" class="text-danger"></span>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save changes</button>
</form>