@model IEnumerable<SocialMediaApp.Models.Post>
@using System.Security.Claims



<div class="feed-container d-flex flex-column align-items-center">
    <div class="fs-2 mb-5 fw-semibold">
        Your feed
    </div>
    @if (Model.Count() > 0) 
    {
        @foreach (var post in Model)
        {
            var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);

            <div class="profile-post position-relative d-flex flex-row mt-3 mb-3 clickable-post border border-1 w-700px-responsive"
                 data-url="@Url.Action("Show", "Posts", new { id = post.Id })">

                <div class="post-pfp-container">
                    <img src="~/images/Profiles/@post.User.ProfilePicture" />
                </div>

                <div class="profile-post-info d-flex flex-column text-wrap text-break">
                    <div class="profile-post-username">
                        <b>@post.User.FirstName @post.User.LastName</b>
                    </div>

                    <div class="profile-post-content">@post.TextContent</div>

                    @if (post.Images.Any() || post.Videos.Any())
                    {
                        <div class="post-media d-flex w-100 position-relative">
                            @if (post.Images.Count() + post.Videos.Count() > 1)
                            {
                                <div class="arrow-left w-25 d-flex justify-content-center align-items-center">
                                    <div class="arrow-left-button d-flex cursor-pointer">
                                        &lt;
                                    </div>
                                </div>
                            }

                            <div id="mediaContainer" class="media-container d-flex justify-content-center align-items-center" data-post-id="@post.Id">
                            </div>
                            @if (post.Images.Count() + post.Videos.Count() > 1)
                            {
                                <div class="arrow-right w-25 d-flex justify-content-center align-items-center">
                                    <div class="arrow-right-button d-flex cursor-pointer">
                                        &gt;
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <div class="post-data d-flex flex-wrap mt-2">
                        <div class="post-options d-flex me-3">
                            <div class="profile-post-likes d-flex align-items-center"
                                 data-post-id="@post.Id"
                                 onclick="StopEventPropagation(event);
                                     toggleLike(this)">
                                <i class="heart-button bi @(post.WhoLiked.Any(l => l.UserId == currentUserId) ? "bi-heart-fill text-danger" : "bi-heart") me-1"></i>
                                <span class="likes-count">@post.WhoLiked.Count()</span>
                            </div>
                            <div class="profile-post-comments d-flex align-items-center ms-3">
                                <i class="bi bi-chat-dots me-1"></i> @post.Comments.Count()
                            </div>
                        </div>
                        <div class="post-date d-flex ms-auto">@post.Date.ToString("g")</div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <i class="bi bi-person-circle text-muted fs-1"></i>
        <div class="text-muted text-wrap text-break cursor-default">
            Your feed doesn't have any posts currently. Follow people to see more posts.
        </div>
    }
</div>

@section Scripts {
    <script>
        // face postarea "clickable"
        document.querySelectorAll(".clickable-post").forEach(p => {
            p.addEventListener("click", e => {
                const url = p.dataset.url;
                if(url) window.location.href = url;
            });
        });
    </script>
}
