@model SocialMediaApp.Models.ApplicationUser

<div class="full-profile d-flex flex-column align-items-center">
    <div class="user-profile d-flex flex-column flex-wrap align-items-center position-relative pb-3"> 
        @*informatii profil*@
        <div class="d-flex flex-row profile-info-container w-100 text-break">
            @*poza profil*@
            <div class="pfp-container">
                <img src="~/images/Profiles/@Model.ProfilePicture"/>
            </div>
            @*informatii profil*@
            <div class="profile-info d-flex flex-column justify-content-between">
                <div class="profile-full-name fs-4">
                    <b>@Model.FirstName @Model.LastName</b>
                </div>
                <div class="profile-stats d-flex justify-content-between">
                    <div>Posts: @Model.Posts.Count()</div>
                    <div>Followers: @ViewBag.FollowerCount</div>
                    <div>Following: @ViewBag.FollowingCount</div>
                </div>
                <div class="profile-description">
                    @Model.Description
                </div>
            </div>
            @*setari profil*@
            <div class="dropdown">
                @if (ViewBag.IsMe == true || ViewBag.AmIAdmin == true)
                {
                    <button class="three-dot-menu" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @if (ViewBag.IsMe)
                        {
                            <li><a asp-action="Edit" class="dropdown-item">Edit profile</a></li>
                            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage account</a></li>
                        }
                        else if (ViewBag.AmIAdmin)
                        {
                            <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@Model.Id">Delete account</a></li>
                        }
                    </ul>
                }
            </div>

        </div>
        @*buton follow - functional*@
        @if (!ViewBag.IsMe) {
            <div class="mt-3 position-relative w-100">
                <button 
                    class="follow-button btn @(ViewBag.IsFollowingConfirmed ? "btn-outline-secondary" : "btn-primary")"
                    data-following="@ViewBag.IsFollowing"
                    data-user-id = "@Model.Id"
                    onclick="toggleFollow(this)">
                    @(ViewBag.IsFollowing 
                    ? (ViewBag.IsFollowingConfirmed ? "Unfollow" : "Unsend follow request") 
                    : "Follow")
                </button>
            </div>
        }
    </div>
    <div class="profile-posts-container d-flex flex-column border-top">
        <partial name="ProfilePosts" model="Model"></partial>
    </div>
</div>